body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.content-center {
    margin-top: 200px;
    width: 100%;
    height: 700px;
    position: relative;
}
.background {
    float: right;
    width: 70%;
    height: 700px;
    background: #FDF4F2;
    border-bottom-left-radius: 50px;
}
h4 {
    float: right;
}
.page1 {
    margin-top: 30px;
    margin-left: -250px;
    width: 290px;
    height: 290px;
    background: white;
    border-radius: 30px;
    position: absolute;
}
.page1-1 {
    width: 290px;
    height: 169px;
    background: #C4C4C4;
    border-radius: 30px;
}
.harga {
    float: left;
    margin-left: 10px;
}
.bintang {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: 70px;
    float: right;
    background: white;
    position: relative;
}
.bintang1 {
    width: 30px;
    height: 30px;
    background: green;
    clear: both;
}
.bintang1-1 {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: black;
}
/* page2 */
.page2 {
    margin-top: 30px;
    margin-left: 100px;
    width: 290px;
    height: 290px;
    background: white;
    border-radius: 30px;
    position: absolute;
}
.page2-2 {
    width: 290px;
    height: 169px;
    background: #C4C4C4;
    border-radius: 30px;
}
.harga {
    float: left;
    margin-left: 10px;
}
.bintang {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: 70px;
    float: right;
    background: white;
    position: relative;
}
.bintang2 {
    width: 30px;
    height: 30px;
    background: green;
    clear: both;
}
.bintang2-2 {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: black;
}
/* page3 */
.page3 {
    margin-top: 30px;
    float: right;
    margin-left: 500px;
    width: 290px;
    height: 290px;
    background: white;
    border-radius: 30px;
    position: absolute;
}
.page3-3 {
    width: 290px;
    height: 169px;
    background: #C4C4C4;
    border-radius: 30px;
}
.harga {
    float: left;
    margin-left: 10px;
}
.bintang {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: 70px;
    float: right;
    background: white;
    position: relative;
}
.bintang3 {
    width: 30px;
    height: 30px;
    background: green;
    clear: both;
}
.bintang3-3 {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: black;
}
/* page4 */
.page4 {
    margin-top: 350px;
    margin-left: -250px;
    width: 290px;
    height: 290px;
    background: white;
    border-radius: 30px;
    position: absolute;
}
.page4-4 {
    width: 290px;
    height: 169px;
    background: #C4C4C4;
    border-radius: 30px;
}
.harga {
    float: left;
    margin-left: 10px;
}
.bintang {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: 70px;
    float: right;
    background: white;
    position: relative;
}
.bintang4 {
    width: 30px;
    height: 30px;
    background: green;
    clear: both;
}
.bintang4-4 {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: black;
}
/* page5 */
.page5 {
    margin-top: 350px;
    margin-left: 100px;
    width: 290px;
    height: 290px;
    background: white;
    border-radius: 30px;
    position: absolute;
}
.page5-5 {
    width: 290px;
    height: 169px;
    background: #C4C4C4;
    border-radius: 30px;
}
.harga {
    float: left;
    margin-left: 10px;
}
.bintang {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: 70px;
    float: right;
    background: white;
    position: relative;
}
.bintang5 {
    width: 30px;
    height: 30px;
    background: green;
    clear: both;
}
.bintang5-5 {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: black;
}
/* page6 */
.page6 {
    margin-top: 350px;
    margin-left: 500px;
    width: 290px;
    height: 290px;
    background: white;
    border-radius: 30px;
    position: absolute;
}
.page6-6 {
    width: 290px;
    height: 169px;
    background: #C4C4C4;
    border-radius: 30px;
}
.harga {
    float: left;
    margin-left: 10px;
}
.bintang {
    margin-top: 20px;
    margin-right: 20px;
    width: auto;
    height: 70px;
    float: right;
    background: white;
    position: relative;
}
.bintang6 {
    width: 30px;
    height: 30px;
    background: green;
    clear: both;
}
.bintang6-6 {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: black;
}



/* content bawah */
.identitas {
    float: left;
    width: 150px;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;


}
.btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
.link {
    float: right;
    width: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.link a {
    display: block;
    text-decoration: none;
}
.content1 {
    width: 450px;
}
.conten1 {
    float: left;
    margin-right: 100px;
}
.conten2 {
    float: left;
}
.conten3 {
    float: left;
    margin-right: 85px;
}
.conten4 {
    float: left;
}
.content2 {
    width: 450px;
}
.header-2 {
    text-align: center;
    clear: both;
    height: 100px;
    width: 100%;
    padding-top: 50px;
    background-color: #848484;
    margin-top: 100px;
}
.header-3 {
    padding-top: 30px;
    height: 60px;
    background-color: #C4C4C4;
    margin-bottom: -100px;
    position: relative;
}
.email {
    height: 40px;
    width: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    border: none;
    margin-left: -515px;
}
.nama {
    height: 20px;
    width: 200px;
    position: absolute;
    border: none;
    margin-top: -7px;
    position: relative;
    background: whitesmoke;
    
}
.btn2 {
    margin-right: -700px;
    height: 40px;
    width: 100px;
    position: absolute;
    color: white;
    background-color: black;
    border: none;
    padding: 2px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.gambar {
    width: 100%;
    margin-top: 110px;
}
.toggle {
    height: 40px;
    width: 150px;
    margin-right: -350px;
    background: whitesmoke;
    position: absolute;
    display: inline-block;
}
.check[type='checkbox'] {
    margin-top: 15px;
    margin-right: 20px;
    position: relative;
    border-radius: 20px;
    width: 50px;
    height: 15px;
    background: #000000;
    -webkit-appearance: none;
    outline: none;
    transition: .4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.check:checked[type='checkbox'] {
    background: #3498db;
}
.check[type='checkbox']::before {
    z-index: 2;
    position: absolute;
    content: '';
    left: 0;
    width: 14px;
    height: 14px;
    background: #ffffff;
    border-radius: 50%;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .4s;
}
.check:checked[type='checkbox']::before {
    left: 35px;
}
.label1 {
    height: 41px;
    width: 205px;
    margin-left: -210px;
    background: whitesmoke;
    position: absolute;
    display: inline-block;
}
.label2-1{
    padding-top: 19px;
    font-size: 10px;
    color:#C4C4C4;
    text-decoration: none;
}
.label2{
    position: absolute;
    color: #C4C4C4;
    font-weight: 600;
    font-size: 7px;
    margin-top: 5px;
    pointer-events: none;
}